google-cloud-firestore==2.14.0
google-cloud-tasks==2.15.0
Flask==3.0.0
gunicorn==21.2.0
firebase-admin>=6.5.0
cryptography==41.0.7
google-cloud-kms==2.21.3
google-cloud-secret-manager==2.16.2
google-auth>=2.22.0
google-cloud-aiplatform>=1.45.0
httpx==0.26.0